<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button 
            defaultHref="/"
            color="primary"
            text="Atras"
            mode="ios"></ion-back-button>
    </ion-buttons>
    <ion-title color="primary">list-reorder</ion-title>


    <ion-buttons slot="end">

      <ion-button 
          (click)="toggleReorder()"
          color="primary"
          shape="round">
          <ion-icon
              [name]=" disabledReorder ? 'toggle-outline' : 'toggle'"
              [ngClass]="{'activeReorder': disabledReorder}">
          </ion-icon>
      </ion-button>

    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>

    <ion-reorder-group [disabled]="disabledReorder"
      (ionItemReorder)="doReorder($event)">

      <!-- Solo funciona presionando el icono del reorder -->
      <!-- <ion-item *ngFor="let hero of heroes">

        <ion-label>{{ hero }}</ion-label>
        <ion-reorder slot="end">
          <ion-icon name="move-sharp"></ion-icon>
        </ion-reorder>

      </ion-item> -->

      <!-- Funciona presionando en cualquier parte del elemento -->
      <ion-reorder *ngFor="let hero of heroes">
        <ion-item>
          <ion-label>{{ hero }}</ion-label>
          <ion-icon slot="end" name="reorder-two-sharp" [ngClass]="{'visibility': disabledReorder}" ></ion-icon>
        </ion-item>
      </ion-reorder>
   

    </ion-reorder-group>

  </ion-list>

</ion-content>
