
<app-header title="Checkbox"></app-header>

<ion-content>
<ion-list>
  <ion-item>
    <ion-checkbox slot="start"></ion-checkbox>
    <ion-label>Checkbox</ion-label>
  </ion-item>

  <ion-item *ngFor="let item of data" (click)="onClick( item )">
    <ion-checkbox 
      slot="end" 
      [color]="item.name"
      [(ngModel)]="item.selected" >
    </ion-checkbox>
    <ion-label>{{ item.name }}</ion-label>
  </ion-item>
</ion-list>
<ion-button
  class="ion-padding"
  color="tertiary"
  expand="block"
  (click)="verData()"
  >Ver data</ion-button>
</ion-content>
