
<app-header title="segment">

</app-header>


<ion-content>
  <ion-segment value="Todos" (ionChange)="segmentChanged($event)">
  
    <ion-segment-button value="Todos">
      <ion-label>Todos</ion-label>
    </ion-segment-button>
    <ion-segment-button value="DC Comics">
      <ion-label>DC Comics</ion-label>
    </ion-segment-button>
    <ion-segment-button value="Marvel Comics">
      <ion-label>Marvel Comics</ion-label>
    </ion-segment-button>
  
  </ion-segment>


  <ion-list>
    <ion-item *ngFor="let hero of ((heroes | async) | filtro: termino: 'publisher')"
              class="animate__animated animate__fadeIn">
      <ion-label>
        <h3>{{ hero.superhero }} <small>{{ hero.alter_ego }}</small></h3>
        <p>{{ hero.first_appearance }}</p>
      </ion-label>
      <ion-label slot="end" class="ion-text-right">
        {{ hero.publisher }}
      </ion-label>
    </ion-item>
  </ion-list>

   <ion-list *ngIf="!(heroes | async)">
    <ion-item *ngFor="let item of [1,2,3,4,5,6,7,8,9,10]">
      <ion-label>
        <h3> <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text></h3>
        <p><ion-skeleton-text animated style="width: 40%"></ion-skeleton-text></p>
      </ion-label>
      <ion-label slot="end" class="ion-text-right">
        <ion-skeleton-text slot="end" animated style="width: 80px;"></ion-skeleton-text>
      </ion-label>
    </ion-item>
  </ion-list>


</ion-content>
