
<app-header title="segment">

</app-header>


<ion-content>
  <ion-segment value="Todos" (ionChange)="segmentChanged($event)">
  
    <ion-segment-button value="Todos">
      <ion-label>Todos</ion-label>
    </ion-segment-button>
    <ion-segment-button value="DC Comics">
      <ion-label>DC Comics</ion-label>
    </ion-segment-button>
    <ion-segment-button value="Marvel Comics">
      <ion-label>Marvel Comics</ion-label>
    </ion-segment-button>
  
  </ion-segment>


  <ion-list>
    <ion-item *ngFor="let hero of ((heroes | async) | filtro: termino: 'publisher')">
      <ion-label>
        <h3>{{ hero.superhero }} <small>{{ hero.alter_ego }}</small></h3>
        <p>{{ hero.first_appearance }}</p>
      </ion-label>
      <ion-label slot="end" class="ion-text-right">
        {{ hero.publisher }}
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
