<ion-header>
  <ion-toolbar>
    <ion-title>Componentes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="main-content">
  <ion-list>
    <ion-item *ngFor="let componente of componentes"
              [routerLink] = 'componente.redirectTo'
              detail="true"
              detail-icon="caret-forward">
      <ion-icon [name]="componente.icon" slot="start" color="primary"></ion-icon>
      <ion-label>{{ componente.name }}</ion-label>
    </ion-item>
  </ion-list>

  <!-- <ion-button routerLink="/alert">
    Ir a Alert
  </ion-button>
  <ion-button routerLink="/action-sheet">
    ir a Action Sheet
  </ion-button> -->
</ion-content>
