<ion-tabs>
  <ion-tab-bar slot="botton" color="light">

    <ion-tab-button tab="angular" class="tab-angular">
      <ion-icon name="logo-angular" ></ion-icon>
      <ion-label for="">Angular</ion-label>
      <ion-badge>3</ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="react" class="tab-react">
      <ion-icon name="logo-react" ></ion-icon>
      <ion-label for="">React</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="vue" class="tab-vue">
      <ion-icon name="logo-vue" ></ion-icon>
      <ion-label for="">Vue</ion-label>
    </ion-tab-button>
    
  </ion-tab-bar>
</ion-tabs>