
<app-header title="Floating action button (fab)"></app-header>

<ion-content>
    <!-- fab placed to the top end -->
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button>
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>

    <ion-fab vertical="top" horizontal="end" slot="fixed">
      <ion-fab-button color="success">
        <ion-icon name="add-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="start">
        <ion-fab-button><ion-icon name="logo-ionic"></ion-icon></ion-fab-button>
        <ion-fab-button><ion-icon name="logo-angular"></ion-icon></ion-fab-button>
        <ion-fab-button><ion-icon name="logo-vue"></ion-icon></ion-fab-button>
        <ion-fab-button><ion-icon name="logo-react"></ion-icon></ion-fab-button>
        <ion-fab-button><ion-icon name="logo-javascript"></ion-icon></ion-fab-button>
      </ion-fab-list>
      <ion-fab-list side="bottom">
        <ion-fab-button color="github"><ion-icon name="logo-github"></ion-icon></ion-fab-button>
        <ion-fab-button color="twitter"><ion-icon name="logo-twitter"></ion-icon></ion-fab-button>
        <ion-fab-button color="instagram"><ion-icon name="logo-instagram"></ion-icon></ion-fab-button>
        <ion-fab-button color="youtube"><ion-icon name="logo-youtube"></ion-icon></ion-fab-button>
      </ion-fab-list>
    </ion-fab> 



  <ion-list>
    <ion-item *ngFor="let item of data; let i = index">
      <ion-label>{{ i + 1 }} - Awesome Label</ion-label>
    </ion-item>
  </ion-list>

</ion-content>


<ion-footer>
  <ion-toolbar>
    <ion-title>Footer</ion-title>
  </ion-toolbar>
</ion-footer>