
<app-header title="Card"></app-header>

<ion-content class="ion-padding">

  <ion-card mode="ios">
    <!--  -->
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>

  <!--  -->
  <ion-card>
    <ion-item color="primary">
      <ion-icon slot="start" name="pin-outline"></ion-icon>
      <ion-label>Marcador</ion-label>
    </ion-item>
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate sequi ratione vitae maiores exercitationem modi cupiditate doloremque ad consectetur recusandae.
    </ion-card-content>
  </ion-card>

  <!--  -->
  <ion-card mode="ios">
    <ion-img src="https://www.latercera.com/resizer/Am6Tr2ws8JnL4CHLfU_Humpr56Q=/900x600/smart/arc-anglerfish-arc2-prod-copesa.s3.amazonaws.com/public/XMJRWZH5N5CBXPL67NAKBGXFNI.jpg"></ion-img>
    <ion-card-header>
      <ion-card-title>Goku</ion-card-title>
      <ion-card-subtitle>Dragon Ball Z</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem iste impedit dolor ea sunt blanditiis eius aut rem?
    </ion-card-content>
  </ion-card>
</ion-content>
