<ion-header>
  <ion-toolbar>
    <ion-title>{{ name }}</ion-title>

    <ion-chip slot="end" color="success" outline>
      <ion-label>{{ country }}</ion-label>
    </ion-chip>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h1>Hola soy el modal</h1>

  <ion-button 
        (click)="salirSinArgumentos()" 
        expand="block"
        color="danger">
    Salir sin argumentos
  </ion-button>

  <ion-button 
        (click)="salirConArgumentos()" 
        expand="block"
        color="tertiary">
    Salir con argumentos
  </ion-button>

</ion-content>
